@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Movies</h4>
                    <p class="category">Here is a list of movies.</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                        <th>Name</th>
                        <th>Genre</th>
                        <th></th>
                        </thead>
                        <tbody>
                            @foreach (var movie in Model)
        {
                            <tr>
                                <td>@movie.Name</td>
                                <td>@movie.Genre.Name</td>
                                <td>@Html.ActionLink("Show more >>", "details/" + movie.Id, "movies")</td>
                            </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>