@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<a href="/customers/new" class="btn btn-primary">
    <i class="material-icons">create</i>
    New Customer
</a>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Customers</h4>
                    <p class="category">Here is customers list.</p>
                </div>
                <div class="card-content table-responsive">
                    <table id="customers" class="table mdl-data-table">
                        <thead class="text-primary">
                        <th>Name</th>
                        <th>Membership Type</th>
                        <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(document).on({
                load: function () {
                    console.log("load");
                },
                mouseenter: function () {
                    $(this).find('.actions').fadeIn(100);
                },
                mouseleave: function () {
                    $(this).find('.actions').fadeOut(100);
                }
            }, '.table tbody tr');

            var datatable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers/",
                    dataSrc: ""
                },
                columns: [
                    {
                        className: "col-md-6 mdl-data-table__cell--non-numeric",
                        data: "name"
                    },
                    {
                        className: "col-md-4 mdl-data-table__cell--non-numeric",
                        data: "membershipType.name"
                    },
                    {
                        className: "col-md-2 mdl-data-table__cell--non-numeric",
                        orderable: false,
                        data: "id",
                        render: function (data) {
                            return `<div class="actions" style="display: none">
                                        <a href="/customers/edit/${data}">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a href="javascript:void(0)" class="js-delete" data-customer-id="${data}">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>`;
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            type: "DELETE",
                            success: function () {
                                datatable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
