@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<a href="/customers/new" class="btn btn-primary">
    <i class="material-icons">create</i>
    New Customer
</a>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Customers</h4>
                        <p class="category">Here is customers list.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table id="customers" class="table table-hover">
                            <thead class="text-primary">
                            <th>Name</th>
                            <th>Membership Type</th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var customer in Model)
                                {
                                <tr>
                                    <td class="col-md-6">@customer.Name</td>
                                    <td class="col-md-4">@customer.MembershipType.Name</td>
                                    <td class="col-md-2" style="height: 50px">
                                        <div class="actions">
                                            <a href="/customers/edit/@customer.Id">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="javascript:void(0)" class="js-delete" data-customer-id="@customer.Id">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(function () {
            $(this).find('.actions').hide();
            $('.table tr').hover(function () {
                $(this).find('.actions').show();
                }, function () {
                    $(this).find('.actions').hide();
                });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            type: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
