@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Customers</h4>
                        <p class="category">Here is customers list.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Name</th>
                            <th>Membership Type</th>
                            <th></th>
                            </thead>
                            <tbody>
                                @foreach (var customer in Model)
                                {
                                <tr>
                                    <td class="col-md-6">@customer.Name</td>
                                    <td class="col-md-4">@customer.MembershipType.Name</td>
                                    <td class="col-md-2" style="height: 50px">
                                        <div class="actions">
                                            <a href="/customers/edit/@customer.Id">
                                                <i class="material-icons">mode_edit</i>
                                            </a>
                                            <a href="/customer/delete/@customer.Id">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section TableScripts{
    <script>
    $(function () {
        $(this).find('.actions').hide();
        $('.table tr').hover(function () {
            $(this).find('.actions').show();
        }, function () {
            $(this).find('.actions').hide();
        });
    });
    </script>
}
